# emacs backups
*~
*#

# pdfs
*.pdf

# csv data
*.csv

# images
*.png
*.jpeg

# slurm commands and output
*.cmd
*.out

# by default, ignore restructed text files
*.rst

# "compiled" python
*.pyc

# c/c++ object files
*.o

# .depend file from Makefile
.depend

# specific c++ executables
dmap_params

# other
*data
build*
*.m
*.mat

*.log
*.aux
*_region_.*

# cython from zagaris_model
zagaris_model/*.c
zagaris_model/*.so
zagaris_model/build
/grad-dmaps/gradient-dmaps
/michaelis_menten/eps.pkl
/michaelis_menten/lambdas.pkl
/paper_figs/colormaps.py
/rawlings_model/temp.pkl
*.pkl
/paper_figs/c-code/b.lc
paper_figs/c-code/b.*
paper_figs/c-code/d.*
/grad-dmaps/output-eigvects.odt
/paper_figs/c-code/test
/paper_figs/c-code/void-ptr-test
